html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

.index__container {
    margin-top: 70px;
}

.flex-class {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
}

.card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.custom-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

 .custom-button:hover {
        background-color: #218838;
  }  

.button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: block;
    margin-top: 50px;
    width: 700px;
    vertical-align: central;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

 .form-input:focus {
        border-color: #007bff;
        outline: none;
    }   

.error-message {
    color: red;
    font-size: 12px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
        background-color: #0056b3;
}    

.action-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

 .action-button:hover {
    background-color: #218838;
 }   

.head {
    display: block;
}

.flexx--buttons {
    display: flex;
}

.green {
    background: green;
    margin-right: 20px;
}

.yellow {
    background: #f5b342;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
}    

.btn-modal {
    background: green;
    border: none;
    color: white;
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
}
